/***** SELECTOR TAGS *****/
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:link,
a:visited {
    color: white;
}

ul li {
    list-style-type: none;
}

button {
    background-color: #3a4042;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

nav {
    background-color: #3a4042;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 1%;
}

/****** CLASS TAGS *******/

.title {
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    background-color: #212121;
    color: white;
}

.middle-container {
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    background-color: #50717b;
    color: white;
}

.powers {
    background-color: #8ecccc;
    color: #3a4042;
    padding-top: 10px;
    padding-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.button-pics {
    display: flex;
    justify-content: space-around;
}

.bottom-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #212121;
    color: #f9f7f7;
}